<sectiond ng-controller="ledgerCtrl" id="ledger">

<tc-side></tc-side>

  <section id="transactions_section">
    <div class="toolbar">
      <span></span>
      <span></span>
    </div>

    <table class="">
      <tbody>
        <tr>
          <th>ACCOUNT</th>
          <th>DATE</th>
          <th>CUSTOMER</th>
          <th>PRODUCT</th>
          <th>OUTFLOW</th>
          <th>INFLOW</th>
        </tr>
        <!-- Also need to set it up to order by date in this repeat -->
        <tr ng-repeat="transaction in trans">
          <td>{{transaction.account}}</td>
          <td>{{transaction.date| date:"MM/dd/yy"}}</td>
          <td>{{transaction.customer}}</td>
          <td>{{transaction.p_name}}</td>
          <td>{{transaction.outflow}}</td>
          <td>{{transaction.inflow}}</td>
        </tr>
      </tbody>
    </table>



  </section>

  <section id="footer">

  </section>

  </section>
