<sectiond id="ledger">

  <section id="side_bar">
    <div class="side_nav">
      <a ui-sref="home"><span>Accounts</span></a>
      <a href="#"><span>Reports</span></a>
    </div>
    <div class="side_nav">
      <a ui-sref="home"><span>$$$</span></a>
    </div>
  </section>

  <section id="transactions_section">
    <div class="transactions">
      <table>
        <thead>
          <tr class="column_headers">
            <th>Stripe/Paypal</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Inflow</th>
            <th>Outflow</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>James Fatman</td>
            <td> 3/21</td>
            <td>Chief Sandwich Eater</td>
            <td>Sandwich</td>
            <td>$8.00</td>
            <td>$0.00</td>
          </tr>
          <tr>
            <td>The Tick</td>
            <td>1/23</td>
            <td>Crimefighter Sorta</td>
            <td>Crime</td>
            <td>$0.00</td>
            <td>$0.99</td>
          </tr>
        </tbody>
        <tfoot>
          <td>+</td>
        </tfoot>
      </table>
      <div class="">

      </div>
    </div>

  </section>

  <section id="">

  </section>

  </section>
