<section id="products" ng-controller="productCtrl">
  <tc-side></tc-side>
  <div class="toolbar">
    <form class="search">
    </form>
  </div>
<div id="btnPr" class="add-product" ng-click="ShowHide()"><a ui-sref="products"><i class="fa fa-plus"></i>Product</a></div>
  <ul class="products fade-in-2" ng-repeat="name in products">
    <div class="delete-product">
<a ng-click="deleteProduct(name._id);getNewProducts();">x</a>    </div>
    <li class="products-name">{{name.name}}</li>
    <li class="products-description">{{name.description}}</li>
    <li class="products-price">${{name.price}}</li>
  </ul>

<section id="card-modal">

  <div class="card-holder" ng-show = "IsVisible">
      <div class="card-wrap">
          <div class="front">
              <form action="">
                  <div class="input-wrap input-wrap--short">
                      <input type="text" ng-model="name" placeholder="Product Name" id="name">

                  </div>
                  <div class="input-wrap">
                      <input ng-model="description" type="text" id="card-num" placeholder="Product Description" />
                  </div>


                   <div class="input-wrap input-wrap--double">
                      $<input ng-model="price" type="text" placeholder="price" id="expiry-mo" />
                  </div>
                  <input type="submit" />
              </form>
          </div>
          <div class="back">
              <form action="">
                  <input type="submit" value="Add to Product Shelf" ng-click="postProduct(name, description, price); getNewProducts();"/>
          </div>
      </div>

      <div class="success">
          <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M461.6 109.6l-54.9-43.3c-1.7-1.4-3.8-2.4-6.2-2.4-2.4 0-4.6 1-6.3 2.5L194.5 323s-78.5-75.5-80.7-77.7c-2.2-2.2-5.1-5.9-9.5-5.9s-6.4 3.1-8.7 5.4c-1.7 1.8-29.7 31.2-43.5 45.8-.8.9-1.3 1.4-2 2.1-1.2 1.7-2 3.6-2 5.7 0 2.2.8 4 2 5.7l2.8 2.6s139.3 133.8 141.6 136.1c2.3 2.3 5.1 5.2 9.2 5.2 4 0 7.3-4.3 9.2-6.2l249.1-320c1.2-1.7 2-3.6 2-5.8 0-2.5-1-4.6-2.4-6.4z"/></svg>
      </div>
  </div>
  </div>
</section>

</section>
