<section id="side_bar">
  <div class="side_nav">
    <a ui-sref="home"><span>Ledger</span></a>
    <a ui-sref="products"><span>Products</span></a>
    <a ui-sref="reports"><span>Reports</span></a>
  </div>
  <div class="side_nav_accts">
    <!-- <a ui-sref="home"><span>All Accounts</span></a> -->

    </br>
    <div class="add-account" ng-click="ShowHideAct()"><a><i class="fa fa-plus"></i>Account</a></div>
      <div class="account-names" ng-repeat="name in accounts">
        {{name.name}}
      </div>
      <div class="">
        <input type="text" ng-model="createAccount" ng-show = "IsVisibleAct">
        <div id="btnAct" ng-click="postAccount(createAccount); getProfileAccounts();ShowHideAct();" ng-show = "IsVisibleAct"><i class="fa fa-plus"></i></div>
      </div>
    </div>
<div class="side_nav_accts">
      <div id="btn4" ng-click="logoutUser();"><a>Logout</a></div>
</div>
</section>
